:root {
  --primary: #71717a; /* sonic silver, 500 */
  --secondary: #fff;
  --tertiary: #f3f3f2; /*  sonic silver variant, 50 */

  --box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  display: grid;
  grid-template:
    "sidebar header" auto
    "sidebar main" 1fr
    / 1fr 3.8fr;
}

/* #intro {
  grid-area: header;
  padding: 16px 24px;
  padding-bottom: 0;
  display: grid;
  grid-template: 1.2fr 2fr / 2fr 1.2fr;
  column-gap: 24px;
  margin-bottom: 8px;
  box-shadow: var(--box-shadow);
} */

#intro {
  grid-area: header;
  padding: 16px max(48px, 3vw);
  padding-bottom: 0;
  display: grid;
  grid-template: 1.2fr 2fr / repeat(12, 1fr);
  margin-bottom: 8px;
  box-shadow: var(--box-shadow);
}

#content {
  grid-area: main;
  background-color: var(--tertiary);
  display: flex;
  gap: 24px;
  padding: 32px 24px;
}

#content h2,
#sidebar h2 {
  font-weight: 400;
}

#sidebar {
  grid-area: sidebar;
  padding: 24px;
  padding-top: 16px;
  background-color: var(--primary);
  color: #fff;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 64px;
}

#sidebar h1 {
  font-size: 2rem;
  font-weight: 500;
}

#sidebar li,
.logo {
  display: flex;
  gap: 1rem;
}

.logo {
  align-items: center;
}

#sidebar li,
.main-projects li {
  list-style-type: none;
}

#sidebar li {
  margin-bottom: 24px;
}

#sidebar [src^="icons"] {
  filter: brightness(0) invert(1);
}

.header-search,
.header-search form,
.header-personal,
.header-welcome,
.header-projects {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-search {
  grid-column: 1 /8;
  grid-row: 1 /2;
}

.header-search form {
  width: 100%;
}

.header-search [type="search"] {
  height: 24px;
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
  border: none;
  background-color: var(--tertiary);
}

.header-personal {
  grid-column: 8 /13;
  grid-row: 1/ 2;
}

.header-personal h3 {
  font-weight: 500;
}

.header-personal,
.header-projects {
  justify-content: end;
}

.header-welcome {
  grid-column: 1/8;
  grid-row: 2/3;
}

.header-projects {
  grid-column: 8 /13;
  grid-row: 2/3;
}

.header-projects button {
  border-radius: 15px;
  padding: 8px 24px;
  border: none;
  background-color: var(--primary);
  color: var(--secondary);
}

.main-projects,
.main-meta {
  flex: auto;
}

.main-projects {
  width: 73%;
}

.main-meta {
  width: 27%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 24px;
}

.post-project {
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: linear-gradient(
    left,
    var(--primary),
    var(--primary) 2%,
    transparent 2%,
    transparent 100%
  );

  background-image: -webkit-linear-gradient(
    left,
    var(--primary),
    var(--primary) 2%,
    transparent 2%,
    transparent 100%
  );
}

.post-project h3 {
  margin-bottom: 4px;
}

.post-icons {
  margin-left: auto;
}
.post-icons img {
  margin-left: 24px;
}

.post-project,
.announcements-meta,
.trending-meta {
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.post-project,
.announcements-meta,
.trending-meta {
  border-radius: 8px;
  padding: 24px;
}

.announcements-meta {
  padding: 32px;
}

.announcements-meta p {
  font-size: 14px;
}

.announcements-meta hr {
  margin: 16px 0;
}

.trending-meta {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.trending-meta > div {
  display: flex;
  align-items: center;
}

.trending-meta [src^="icons"] {
  margin-right: 16px;
}

.project-posts,
.announcements-meta,
.trending-meta {
  margin: 10px 0;
}

@media (min-width: 1600px) {
  #content {
    padding: 32px max(24px, 2vw);
  }
}
